{% load staticfiles %}
<head>
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-theme.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-theme.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.css'%}">
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
		
		<title>Home {% if user.is_authenticated %}| {{ user.username }}{% endif %}</title>
	</head>

{% if user.is_authenticated %}
<div class="container">
      <div class="row">
      <div class="col-md-4  toppad  pull-right col-md-offset-5 ">
           <A href="" >Profile</A>

        
       <br>
      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">{{ user.username }}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="{{ obj.picture.url }}" class="img-circle img-responsive"> </div>
                
                
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Frist Name :</td>
                        <td>{{ user.first_name }}</td>
                      </tr>
                      <tr>
                        <td>Last Name</td>
                        <td>{{ user.last_name }}</td>
                      </tr>
                      <tr>
                        <td>Age</td>
                        <td>{{ obj.age }}</td>
                      </tr>
                      <tr>
                        <td>Gender</td>
                        <td>{{ obj.gender }}</td>
                      </tr>
                     
                    </tbody>
                  </table>
                  
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                       <A href="/logout/" >Logout</A>
                    </div>
            
          </div>
        </div>
      </div>
    </div>
{% else %}
<h1>hello world!</h1>
<a href="/register/">Register Here</a><br />
<a href="/login/">Login</a><br />
{% endif %}
